*{
    --background-color: rgb(204, 88, 88);
    --dark-accent-color: rgb(114, 39, 39);
    --light-accent-color: bisque;
    --faint-light-accent-color: rgba(255, 228, 196, 0.315);
}

.wholePage{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--dark-accent-color);
    
    
}

.pageContainer{

    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr;

    min-height: 95vh;
    transform: translateY(40px);
    margin: 1vh 1vw;
    
}

.leftArea{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px dashed var(--faint-light-accent-color);
    margin: 1vh 1vw;
    padding: 1vh;
    margin-bottom: 5vh;
    width: 10vw;

}

.goToTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 1000;
   bottom: 40px;
    left: 100px;
    background-color: var(--light-accent-color);
    padding: 0.5vw;
    border-radius: 5px;
    border: 2px solid black;

}


.columnList > h3{
    align-self: center;
}

.mainArea{
    margin: 1vh 1vw;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 5vh;
    
   
}

.shopHeadText{
    color: var(--light-accent-color);
    text-align: center;
    margin: 0;
    padding: 1vh 0;
    height: fit-content;
}

.productCategory{


}
.productDisplay{

    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
    padding: 2vh 2vw;
    margin-bottom: 5vh;
}

.sideArea{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1vh 1vw;
    margin-bottom: 5vh;
    

}

.shoppingCartDisplay{
    border-radius: 5px;
    border: 1px dashed var(--faint-light-accent-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    padding: 2vh 2vw;
   
}