*{
    --background-color: rgb(204, 88, 88);
    --dark-accent-color: rgb(114, 39, 39);
    --light-accent-color: bisque;
}

.wholePage{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}

.pageContainer{

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--dark-accent-color);
    height: 95vh;
  
    
}

.mainArea{
    padding: 3vh 6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin: 0 5vw;
   
}

.sideArea{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 2vh 5vw;

}