*{
    --background-color: rgb(204, 88, 88);
    --dark-accent-color: rgb(114, 39, 39);
    --light-accent-color: bisque;
}

.shoppingCartItem{

    border: 2px solid black;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    justify-content: center;
    align-items: center;
    
    max-width: 300px;
    margin: 1vh 1vw;
    border-radius: 5px;
    box-shadow: 2.5px 5px 1px black;
    background-color: var(--light-accent-color);
    color: black;
}

.shoppingCartItem:hover{

}

.leftSide{

    height: 100%;
    width: 100%;

    border-radius: 5px 0 0 5px;



}

.rightSide{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 5px 0;
    padding: 1vh 1vw;
}

.shoppingCartItemName{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
   
}


.shoppingCartItemName h4{
    padding: 0;
    margin: 0;
}


.shoppingCartItemQuantityPrice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1vh 1vw;
}

.shoppingCartItemQuantityPrice > h3{
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.quantityDisplay{
    
    padding: 0.5vh;
    border-left: 1px solid black ;
    border-right: 1px solid black;
    background-color: var(--dark-accent-color);
    color: var(--light-accent-color);
}

.adjustQuantityButton{

    width: 20px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--light-accent-color);
}

.adjustQuantityButton:first-of-type{
    border-radius: 2px 0 0 2px;
}

.adjustQuantityButton:last-of-type{
    border-radius: 0 2px 2px 0;
}

.adjustQuantityButton:hover{
    cursor: pointer;
    background-color: var(--light-accent-color);
    color: var(--dark-accent-color);
}

.shoppingCartItemTotalPrice{

    display: flex;
    flex-direction: row;
}

.shoppingCartImage{
    height: 100%;
    width: 100%;
}

.shoppingCartImage > img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 5px 0 0 5px;
    
}

.removeButton{
    margin: 0 0.5vw;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 0.5vw;
    background-color: var(--dark-accent-color);
    color: var(--light-accent-color);
}

.removeButton:hover{
    cursor: pointer;
    transform: scale(102%);
    background-color: var(--light-accent-color);
    color: var(--dark-accent-color);
}
