*{
    --background-color: rgb(204, 88, 88);
    --dark-accent-color: rgb(114, 39, 39);
    --light-accent-color: bisque;
    --faint-light-accent-color: rgba(255, 228, 196, 0.315);
}

.wholeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 3vh;
    border-radius: 5px;
    border: 1px dashed var(--faint-light-accent-color);

}

.homeHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--light-accent-color);
    margin: 1vh 1vw;
    
}

.imagesContainer{
    border: 2px solid black;
    background-color: var(--light-accent-color);
    border-radius: 5px;
    box-shadow: 2.5px 5px 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    padding: 2vh 1vw;
}

.displayProduct{
    max-width: 300px;
    margin: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.displayProduct > img:hover{
    transform: scale(102%);
}

.displayProduct > h3{
    color: black;
    margin: 1vh 1vw;
}

.displayProduct > img{
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2.5px 5px 1px black;

}