*{
    --background-color: rgb(204, 88, 88);
    --dark-accent-color: rgb(114, 39, 39);
    --light-accent-color: bisque;
}

.columnList{
    background-color: var(--background-color);
    border-radius: 5px;
    border: 2px solid black;
    color: var(--light-accent-color);
    display: flex;
    flex-direction: column;

    margin: 1vh 1vw;
}

.columnList a{
    list-style: none;
    color: inherit;
}

.columnList a:visited{
    list-style: none;
    color: inherit;
}


.columnList a:hover{
    color: var(--light-accent-color);
}

.columnList:hover{
    cursor: pointer;
    transform: scale(102%);
}

.columnList h3{
    text-align: center;
    align-self: center;
    padding: 0;
    margin: 1vh 1vw 0 1vw;
}

.listElement{
    align-self: flex-start;
   list-style: circle;
}

.listElement:first-of-type{
    margin-top: 0;
    padding-top: 0;
}