*{
    --background-color: rgb(204, 88, 88);
    --dark-accent-color: rgb(114, 39, 39);
    --light-accent-color: bisque;
}

.productItem{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2.5px 5px 1px black;
    background-color: var(--light-accent-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;

    

    
}

.leftArea{
     max-height: 300px;
    background-color: black;
    border-radius: 5px 0 0 5px;
} 

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 5px 0 0 5px;
}

.rightArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
}

.quantitySelect{
    display: flex;
    flex-direction: row;
    padding: 1vh 0;
}

.quantitySelect > div{
    margin-right: 0.5vw;
}

.quantitySelect > select:hover{
    cursor: pointer;
}

.addToCartButton{
    box-shadow: 2.5px 5px 1px rgba(0, 0, 0, 0.26);
    margin-bottom: 1vh;
}

.addToCartButton:hover{
    transform: scale(102%);
}